#!/usr/bin/env python
# {{ansible_managed}}

import sys
import os


if __name__ == '__main__':
    password = sys.argv[1]
    print sys.path
    os.environ.setdefault('DJANGO_SETTINGS_MODULE',
                          'sentry.conf.server')
    """
    from django.conf import settings
    from logan import settings as logan_settings
    from logan.settings import django_settings
    settings.configure()
    logan_settings.add_settings(django_settings)
    logan_settings.load_settings("/home/sentry/.sentry/sentry.conf.py")
    #settings_dict = {x: getattr(django_settings, x)
    #                 for x
    #                 in dir(django_settings)}
    #print 'settings_dict keys', sorted(settings_dict.keys())
    #for k, v in settings_dict.items():
    #    setattr(settings, k, v)
    print dir(settings)
    """

    from sentry.conf import server
    myglobals = {}
    mylocals = {}
    execfile('{{sentry_conf_file}}', myglobals, mylocals)
    print 'settings_dict keys', sorted(mylocals.keys())
    for k, v in mylocals.items():
        setattr(server, k, v)
    print dir(server)


    from sentry.models import User
    user = User.objects.get(username='{{sentry_user}}')
    user.set_password(password)
    user.save()

